{% extends "base.html" %}
{% block content %}

    <h1>Blogs Page</h1>
    <div class="card-group">
        {% if posts %}
            {% for post in posts.items %}
                <div class="col-md-6 col-lg-4 p-2">
                    <div class="card">
                        {% if post.image_file %}
                            <img class="card-img-top" src="{{ url_for("static", filename="/img/posts/" + post.image_file) }}" alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="p-0 m-0 mt-2 text-decoration-none" href="{{ url_for("post_id", _id=post.id) }}">{{ post.title }}</a>
                            </h5>
                            {% if post.image_file %}
                                <p class="card-text">{{ post.body[:100] }} ...</p>
                            {% else %}
                                <p class="card-text">{{ post.body[:300] }} ...</p>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-4 pt-1">
                                    <img class="rounded article-img" style="max-height:64px" src="{{ url_for("static", filename="/img/profiles/" + post.author.image_file) }}">
                                </div>

                                <div class="col-md-8">
                                    <p class="text-muted m-0">{{ post.time_updated.strftime("%Y-%m-%d %H:%M") }}</p>
                                    <p class="text-muted m-0">Views: {{ post.views_counter }}</p>
                                    <p class="text-muted d-inline">Author: </p><a class="text-decoration-none" href="{{ url_for("user_public", username=post.author.username) }}"><i>{{ post.author.username }}</i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h2>No posts available</h2>
        {% endif %}
    </div>

    <div class="pt-1 ps-2">
        {% for page_num in posts.iter_pages() %}
            {% if page_num %}
                {% if posts.page == page_num %}
                    <a class="btn btn-info mb-4" href="{{ url_for("posts", page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for("posts", page=page_num) }}">{{ page_num }}</a>
                {% endif%}
            {% endif%}
        {% endfor %}
    </div>

{% endblock %}
