{% extends "base.html" %}
{% block content %}
    <h1>About page</h1>
    </p>
        Nullam non sem interdum, semper mi non, luctus ipsum. Quisque ultricies, sapien in venenatis 
        vehicula, sem nibh sagittis velit, et semper magna nisi eget ex. Morbi facilisis dictum sagittis. 
        Donec sodales lobortis justo, ut placerat purus aliquet non. Pellentesque malesuada purus at 
        lacus ultrices dictum. Curabitur vitae posuere elit. Integer blandit pellentesque nisi et pulvinar. 
    </p>
{% endblock %}
