{% extends "base.html" %}
{% block content %}

    <h1>Blogs Page</h1>
    {% if posts %}
        {% for post in posts %}
        <div class="row mt-4">

            <div class="col-md-2" style="overflow: hidden">
                {% if post.image_file %}
                    <img class="img" style="max-width:256px" src="{{ url_for("static", filename="/img/posts/" + post.image_file) }}">
                {% endif %}
            </div>
            <div class="row col-md-10">

                <div class="col-md-2">
                    <img class="rounded article-img" style="max-height:64px" src="{{ url_for("static", filename="/img/profiles/" + post.author.image_file) }}">
                </div>

                <div class="col-md-10">

                    <p class="text-muted m-0 pb-2">{{ post.time_updated.strftime("%Y-%m-%d %H:%M") }}</p>
                    <a class="text-decoration-none" href="{{ url_for("user_public", username=post.author.username) }}"><i>{{ post.author.username }}</i></a>
                </div>

                <h3 class="mb-0">
                   <a class="p-0 m-0 mt-2 text-decoration-none" href="{{ url_for("post_id", _id=post.id) }}">{{ post.title }}</a>
                </h3>
                <p>{{ post.body }}</p>

            </div>

        </div>
        {% endfor %}
    {% else %}
        <h2>No posts available</h2>
    {% endif %}

{% endblock %}
